* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002C35;
}

#landing {
    height: 100%;
    width: 100%;
}

h1 {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    margin-top: 150px;

    font-size: 40px;
    text-align: center;
    color: #0AEAF2;
}

h2 {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    margin-top: 50px;

    font-size: 40px;
    text-align: center;
    color: #0AEAF2;
}

h3 {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    margin-top: 320px;

    font-size: 25px;
    text-align: center;
    color: #0AEAF2;
}

h4 {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    margin-top: 120px;

    font-size: 25px;
    text-align: center;
    color: #0AEAF2;
}

p {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    top: 300px;
    width: 750px;

    font-size: 20px;
    text-align: center;
    color: #fff;
}

p1 {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    top: 150px;
    width: 750px;

    font-size: 20px;
    text-align: center;
    color: #fff;
}

p2 {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    top: 350px;
    width: 750px;

    font-size: 20px;
    text-align: center;
    color: #fff;
}

#link {
    text-decoration: none;
    color: #0AEAF2;
}

#anchor {
    position: absolute;
    left: 50%;
    margin-left: -32px;

    animation-name: landingButton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#world {
    width: 48%;
    float: left;
    margin-top: 70px;
}

#chart {
    width: 48%;
    float: left;
    margin-top: 120px;
}
#legend {
    width: 48%;
    float: right;
    margin-top: 20px;
}

li {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-right: 35px;
}

@keyframes landingButton {
    0% {
        bottom: 60px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 60px;
    }
}


