* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002C35;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #0AEAF2;
}

h3 {
    font-size: 25px;
    text-align: center;
    color: #0AEAF2;
}

p {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.btn:hover{
    cursor: pointer;
    transition: all 0.5s;
    background: #0d7d81;
}

.btn {
    border: none;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    background: #07a5aa;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

#landing {
    height: 100%;
    padding-top: 40px;
    padding-left: 16%;
    padding-right: 16%;
    text-align: center;
}


#link {
    text-decoration: none;
    color: #0AEAF2;
}

#anchor {
    position: absolute;
    left: 50%;
    margin-left: -32px;

    animation-name: landingButton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#world {
    margin-top: 100px;
}

#chart {
    margin-top: 100px;
}

#legend {
    float: right;
}

.legend {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-right: 35px;
    padding-bottom: 20px;
}

#req{
    color: #fff;
    font-size: 20px;
    display: inline-block; 
	text-align: left;
}

@keyframes landingButton {
    0% {
        bottom: 60px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 60px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    #landing {
        padding-left: 0;
        padding-right: 0;
    }

    #chart {
        margin-top: 0;
    }
}


